body {
    font-family: 'Arial', sans-serif;
}

p {
    font-size: 16px;
    font-weight: normal;
    text-transform: none;
    background-color: #ffffff;
    color: #000000;
}

button {
    margin: 5px;
    padding: 10px;
    cursor: pointer;
}

#learn {
    color: rgb(76, 76, 212);
    margin-bottom: 15%;
}

.content {
    text-align: center;
    padding-left: 20%;
    padding-right: 20%;
}

h1{
    padding-top: 10%;
}